
/* ____________________________________________________________________________________________________________ */

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%;
    margin: auto;
	margin-top: 42px;
    /* border: 2px solid red; */
    position: relative;
    /* top: 17vh; */
    background-color: #d1d1d052;
    border-radius: 10px;
    /* padding: 15px 50px ; */
}
.container h3{
    display: flex;
    justify-content: center;
    align-items: center;

}

.name{
    /* display: flex; */
    margin: 7px 0px;
    padding: 10px 20px;
    width: 45%;
    border-radius: 5px;
    border: none;
    background-color: white;
}



input[type=button]{
    margin: 20px 0px;
    /* width: 20%; */
    border: none;
    background-color: #FE7F2E;
    color: white;
    font-weight: 400;
    padding: 10px 25px;
    font-size: 20px;
    border-radius: 10px;  
}

/* ____________________________________________________________________________________________________________ */

@media (max-width: 992px) {
	.name{
		width: 75%;
	}
}

@media (max-width: 576px){
	.name{
		width: 95%;
	}
}