body {
	margin: 0;
	padding: 0;
	font-family: "Trirong", serif;
	background: black;
}

.main {
	position: relative;
	height: 100vh;
	width: 100%;
	background: linear-gradient(rgba(102, 145, 148, 0.712), #da7a3fc4);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.8;

}

.main .navbar {
	position: absolute;
	height: 16%;
	width: 99%;
	/* background-color: rgba(143, 135, 132, 0.274); */
}

.main .navbar .logo {
	position: relative;
	width: 150px;
	height: 150px;
	top: -25px;
	left: 15%;
	font-family: 'Lato', sans-serif;
	font-size: 35px;
	font-weight: 600;
	color: #fff;
	cursor: pointer;
	float: left;
	text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
}

.main .navbar ul {
	position: relative;
	height: 100%;
	width: 50%;
	color: black;
	float: right;
}

.main .navbar ul li {
	list-style-type: none;
	display: inline-block;
}

.main .navbar ul .lgn {
	border: 2px solid #FE7F2E;
	padding: 6px 10px;
	background-color: #FE7F2E;
	color: #fff;
}

.main .navbar ul li a {
	position: relative;
	text-decoration: none;
	display: block;
	box-sizing: border-box;
	text-shadow: 0px 5px 5px rgba(0, 0, 0, 35%);
	color: black;
	font-family: 'cinzel', sans-serif;
	font-size: 15px;
	font-weight: 600;
	padding: 10px;
	width: 100%;
	height: auto;
}

.main .navbar ul li a:before {
	position: absolute;
	content: '';
	height: 2px;
	width: 0;
	background: #FE7F2E;
	left: 0;
	bottom: 0;
	transition: 0.5s ease-in-out width;
}

.main .navbar ul li a:hover:before,
.main .navbar ul li a.active:before {
	width: 100%;
}

.main .navbar ul li span {
	padding: 2px;
	font-size: 24px;
	color: #fff;
	font-weight: 200;
}



/* ____________________________________________________________________________________________________________ */

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%;
    margin: auto;
    /* border: 2px solid red; */
    position: relative;
    top: 17vh;
    background-color: #d1d1d052;
    border-radius: 10px;
    /* padding: 15px 50px ; */
}
.container h3{
    display: flex;
    justify-content: center;
    align-items: center;

}

.name{
    /* display: flex; */
    margin: 7px 0px;
    padding: 10px 20px;
    width: 45%;
    border-radius: 5px;
    border: none;
    background-color: white;
}



input[type=button]{
    margin: 20px 0px;
    /* width: 20%; */
    border: none;
    background-color: #FE7F2E;
    color: white;
    font-weight: 400;
    padding: 10px 25px;
    font-size: 20px;
    border-radius: 10px;
    

}










/* ____________________________________________________________________________________________________________ */