<!DOCTYPE html>
<html>
<body>

<h2>Add Delivery</h2>
<h3>Receiver</h3>
<form action="." name = "receiverdetails" method="POST">
  <label for="address">Address:</label><br>
  <input type="text" id="address" name="address"><br><br>
  <label for="pincode">Pincode:</label><br>
  <input type="text" id="pin" name="pincode"><br><br>
  <label for="Contact">Contact:</label><br>
  <input type="text" id="contact" name="contact_number"><br><br>
  <label for="Alternate_Contact">Alternate Contact:</label><br>
  <input type="text" id="alternatecontact" name="alternate_contact"><br><br>
  <button type="submit">Submit</button>
</form> 

<h3>Sender</h3>
<form action="." name = "sellerdetails" method="POST">
  <label for="address">Address:</label><br>
  <input type="text" id="selleraddress" name="selleraddress"><br><br>
  <label for="pincode">Pincode:</label><br>
  <input type="text" id="sellerpin" name="seller_pincode"><br><br>
  <label for="Contact">Contact:</label><br>
  <input type="text" id="seller_contact" name="seller_contact_number"><br><br>
  <label for="Weight">Weight</label><br>
  <input type="text" id="seller_weight" name="productweight"><br><br>
  <label for="type">Type</label><br>
  <input type="text" id="type" name="product_type"><br><br>
  <label for="Category">Category</label><br>
  <input type="text" id="product_category" name="product_category"><br><br>
  <button type="submit">Submit</button>
</form> 

</body>
</html>

