{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Landing page</title>
	<link rel="stylesheet" href="{% static '/css/contact.css' %}">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Trirong">
</head>

<body>
	<div class="main">
		<div class="navbar">

			<img src="{% static '/images/logo.png' %}" class="logo" />

			<ul>
				<li><a href="{% url 'home' %}">HOME</a></li>
				<li><a href="#">BLOG</a></li>
				<li><a href="#">ABOUT US </a></li>
				<li><a href="{% url 'contact-info' %}">CONTACT US </a></li>
				<li><a href="{% url 'login' %}" class="lgn">LOGIN</a></li>

			</ul>
		</div>
        <!-- ------------------------------------------------------------------------------------------ -->

        <div class="container">
            <h3>Sign Up</h3>
            <input type="text" class="name" placeholder="Name">
            <input type="text" class="name" placeholder="Company Name">
            <input type="text" class="name" placeholder="Company Size">
            <input type="number" class="name" placeholder="Contact Number">
            <input type="email" class="name" placeholder="Email Address">
            <input type="password" class="name" placeholder="Password">
            <input type="text" class="name" placeholder="Confirm Password">
            
            <input type="button" value="Submit">
        </div>
            
        </div>
        
	
        <!-- ------------------------------------------------------------------------------------------- -->
</body>

</html>